$bg-color-login: #f1faf8;
$bg-color-standard: #f1faf8;
$bg-color-light-blue: rgba(240, 247, 255, 1);
$bg-color-light-green: #f8fffc;
$border-color-light: #e6eaee;
$color-green: #10ac84;
$color-black: #1a1d26;
$color-red: #ff0000;
$bg-color-light-red: #ffebeb;
$color-white: #ffffff;
$color-black: #1a1d26;
$color-light-black: #1c1b1f;
$color-light-gray: #9a9fae;

//font
$family: 'Sora', sans-serif;
