@import 'Constants.scss';

.home_page {
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1280px;
  .content_wrappers {
    position: relative;
    width: 90%;
    top: 1em;
    .token_items {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      flex-direction: row;
    }
  }
}
